<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Connections

    <a data-toggle="collapse" href="#user_connections_new_form">
      Add connection
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.connections.each do |connection| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/connections/<%= connection.id %>">
          <%= connection.name %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
