<form action="/create_note_from_connection" method="post">

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <textarea id="body" name="body" class="form-control" rows="3"><%= @note.body %></textarea>
  </div>

  <input type="hidden" name="commenter_id" value="<%= current_user.id %>">

  <input type="hidden" name="connection_id" value="<%= @connection.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create note
  </button>
</form>
